body {
    margin: 0px;
    background-color: beige;
}

h2{
    color: #2d2d2d;
    text-align: center;
    margin-top: 65;
    font-size: 30px;
}
.picture {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
}

.picture img {
    width: 400px;
    height: 400px;
}